.join-button {
  background-color: #7d2181; /* Color predeterminado */
  color: white; /* Color del texto */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 3vw;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave para color y transformación */
}

.join-button:hover {
  background-color: #4b0081; /* Color al pasar el ratón */
  transform: scale(1.05) translateY(-3px); /* Aumenta el tamaño y mueve ligeramente hacia arriba */
}

.join-button:active {
  background-color: #4b0081; /* Color al hacer clic */
  transform: scale(1); /* Restaura el tamaño al presionar */
}
