.div-eventos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.font-ciudad {
  font-style: italic;
}

.card-Evento {
  border: 1px solid violet;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 320px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #e5d9f2;
  line-height: 0.9;
}

.card h2 {
  font-size: 5rem;
  color: #333;
}

.card .title {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
  color: #777;
}

.card-evento-photo {
  border-radius: 10%;
  object-fit: cover;
  margin-bottom: 10px;
}
