.card {
  border: 1px solid #d2cece6f;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: 250px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: rgb(227, 229, 225);
}

.card h2 {
  font-size: 1.5rem;
  color: #333;
}

.card .title {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
  color: #777;
}

.card-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
