/* Головний контейнер з Grid */
.wrapper-sidebar {
  display: flex !important;
  flex-direction: row !important;
  /* display: grid !important;
  grid-template-columns: 20% 60% !important;  */
  /* Sidebar 25%, EventSection 70% */
  gap: 5% !important; /* Решта відсотків на відступи */
  width: 100vw !important;
  max-width: 100% !important;
  padding: 2rem !important;
  margin: 0 auto !important;
  box-sizing: border-box !important;
  align-items: start !important;
}

/* Sidebar */
.side-div {
  background: #e5d9f2 !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
  padding: 1rem !important;
  min-height: 400px !important;
}

/* Event Section */
.eve {
  background: #ffffff !important;
  padding: 1.5rem !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

/* Адаптивність */
@media (max-width: 1024px) {
  .wrapper-sidebar {
    grid-template-columns: 1fr !important; /* Переходить у вертикальне розташування */
    gap: 2rem !important;
  }

  .side-div,
  .eve {
    width: 100% !important;
  }
}
