/* Sidebar.css */

.sidebar {
  width: 250px;
  background-color: #f5eff1;
  height: 100vh; /* 100% de la altura de la ventana */
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.user-info {
  background-color: #e5d9f2;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px; /* Espacio adicional entre el saludo y los eventos */
  text-align: center;
}

.user-info h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item {
  background-color: #a294f9;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu-item:hover {
  background-color: #7d2181; /* Cambia a color lila oscuro al pasar el ratón */
}

.menu-item.selected {
  background-color: #a294f9; /* Mantén el color azul celeste cuando esté seleccionado */
  color: white;
}

.menu-item h3 {
  margin: 0;
}
.user-icon {
  width: 20px; /* Tamaño reducido del icono */
  height: 20px; /* Tamaño reducido del icono */
  border-radius: 50%; /* Hace que la imagen sea circular */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}
