.user-profile-page {
  background-color: #ffb796;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.user-profile-form {
  background-color: #e5d9f2;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
}

h2 {
  text-align: center;
  color: #7d2181;
  margin-bottom: 1.5rem;
}

.profile-form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #7d2181;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #cdc1ff;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
}

input:focus,
select:focus {
  border-color: #a294f9;
  outline: none;
  box-shadow: 0 0 5px rgba(162, 148, 249, 0.5);
}

.profile-error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

.profile-submit-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #7d2181;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.profile-submit-button:hover {
  background-color: #4b0081;
  transform: scale(1.05);
}
